/* Color */

/*----- Global -----*/
$socarBlue: #00b9fb;
$grayScale0: #ffffff;
$grayScale1: #f7f8fa;
$grayScale2: #ebecef;
$grayScale3: #c7c9ce;
$grayScale4: #656f7c;
$grayScale5: #384350;
$grayScale6: #282f38;
/*----- Global -----*/
