/* Size */

/*----- Global -----*/
%specialCardSize {
  width: 24rem;
  height: 18.75rem;
}
%specialTopperSize {
  width: 24rem;
  height: 7.5rem;
}
$specialCardWidth: 24rem;

%cardSize {
  width: 32rem;
  height: 25rem;
}
$cardWidth: 32rem;

%moreButton {
  width: 32rem;
  height: 3rem;
}

%detailModal {
  @include mobile() {
    width: 30rem;
    height: 60rem;
  }
  @include desktop() {
    width: 36rem;
    height: 60rem;
  }
}
/*----- Global -----*/
